@import 'variables.scss';
@import '_header.scss';
@import '_search.scss';
@import '_listing.scss';
@import '_pagination.scss';
@import '_popover.scss';

* {
  box-sizing: border-box;
}

html,
.root,
body {
  background: #fff url(../img/bk.png) repeat left top !important;
  background-size: cover;
  font-family: 'Source Sans Pro';
}

.App {
  padding: 0 1.25em 0 1.25em 0;
  margin: 70px auto 135px auto;

  @media (min-width: 1200px) {
    max-width: 980px;
  }
  background-color: $white;

  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  border-radius: 4px;

  -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0px 0px 0px 9px rgba(0, 0, 0, 0.05);

  -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3),
    0px 0px 0px 9px rgba(0, 0, 0, 0.05);

  box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0px 0px 0px 9px rgba(0, 0, 0, 0.05);
}
