$body-bg-color: #e0dfdf;
$white: #fff;

$header-title-color: #2288b7;
$header-description-color: #3b3b3b;
$header-line-break-color: #e0e0e0;

$search-placeholder-color: #999;

$border-listing-color: #e0e0e0;
